<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Flat HTML5/CSS3 Login Form</title>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="~/Content/login/login.js"></script>
    <link href="~/Content/normalize.css" rel="stylesheet" />
    <link href="~/Content/login/login.css" rel="stylesheet" />
    <link href="~/css/LoginMenu.css" rel="stylesheet" />
    </head>
    <body>
    @RenderBody()
   </body>
</html>
