@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="height: 500px;background-color: #1E3040;width: 865px;margin-top: 33px;">
    <div id="testcontainer" class="game-container main-holder">

        <div id="d535">
            <div class="slotbg"><canvas id="canvas1" width="107" height="321" class="cItem animClass"></canvas></div>
            <!--
            -->
            <div class="slotbg"><canvas id="canvas2" width="107" height="321" class="cItem animClass"></canvas></div>
            <!--
            -->
            <div class="slotbg"><canvas id="canvas3" width="107" height="321" class="cItem animClass"></canvas></div>
            <!--
            -->
            <div class="slotbg"><canvas id="canvas4" width="107" height="321" class="cItem animClass"></canvas></div>
            <!--
            -->
            <div class="slotbg"><canvas id="canvas5" width="107" height="321" class="cItem animClass"></canvas></div>
        </div>
    </div>
    
</div>
