@{
    ViewBag.Title = "Video Slot Game";
Layout = "~/Views/Shared/_LayoutTest.cshtml";
}

<p style="color:#fff;">Test ok!<a href="/Home/VideoSlot" style="color:#FFCC00;text-decoration:none;"> >> videoslot</a></p>