
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>
        testing
    </title>
    <style>
        canvas {
            background: #ff6a00;
        }
    </style>
</head>
<body>
    <div id="canvasholder">
        <canvas id="canny"></canvas>
    </div>
    <div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Content/js/Utils.js"></script>
    <script>
        var nc = 0;
        var reelItems = [
                { x: 0, y: 110 * 0 },
                { x: 0, y: 110 * 5 },
                { x: 0, y: 110 * 6 },
                { x: 0, y: 110 * 3 },
                { x: 0, y: 110 * 1 },
                { x: 0, y: 110 * 4 },
                { x: 0, y: 110 * 3 },
                { x: 0, y: 110 * 3 },
                { x: 0, y: 110 * 6 },
                { x: 0, y: 110 * 3 },
                { x: 0, y: 110 * 6 },
                { x: 0, y: 110 * 2 },
                { x: 0, y: 110 * 5 },
                { x: 0, y: 110 * 0 },
                { x: 0, y: 110 * 0 },
                { x: 0, y: 110 * 5 },
                { x: 0, y: 110 * 6 },
                { x: 0, y: 110 * 3 },
                { x: 0, y: 110 * 1 },
                { x: 0, y: 110 * 4 },
                { x: 0, y: 110 * 3 },
                { x: 0, y: 110 * 2 },
                { x: 0, y: 110 * 5 },
                { x: 0, y: 110 * 0 },
        ];

        var canvas = document.getElementById("canny");

        canvas.setAttribute('width', 107);
        canvas.setAttribute('height', (110 * 4));

        var ctx = canvas.getContext('2d');

        var self = this;

        function getBaseImage(callback) {

            var canvasCache = document.createElement('canvas');
            var cacheCtx = null;

            var yoffset = 0;
            canvasCache.setAttribute('width', 107);
            canvasCache.setAttribute('height', (110 * reelItems.length));

            cacheCtx = canvasCache.getContext('2d');
            cacheCtx.clearRect(0, 0, canvasCache.width, canvasCache.height);

            for (var i = 0; i < reelItems.length; i++) {
                var rItem = reelItems[i];
                cacheCtx.drawImage($.vSprites, rItem.x, rItem.y, 107, 110, 0, yoffset, 107, 110);
                yoffset += 110;
            }

            // cacheCtx.drawImage($.vSprites, 0, 0);

            var baseImage = new Image();
            baseImage.addEventListener("load", function (img) {

                callback(this);
            });

            baseImage.src = canvasCache.toDataURL("image/png");

            return baseImage
        }


        $.vSprites = new Image();
        $.vSprites.id = "vertical";



        $.vSprites.addEventListener("load", function (img) { //init spinners after the sprites image loaded..


            var _baseImage = getBaseImage(

			function (img) {
			    dlog("ters:" + ctx);
			    dlog("img:" + img);

			    ctx.clearRect(0, 0, 107, 107 * 4);
			    ctx.drawImage(img, 0, 0);
			    nc++;
			    //$("body").append(img);
			});

            var canvas = document.getElementById("canny");
            var ctx = canvas.getContext('2d');
            return;

        }, false);

        $.vSprites.src = '/Content/img/ui/dickhey.png';

    </script>
</body>
</html>
